**<h1 style="color:red;">üìä Naƒç√≠tanie Datasetu</h1>**

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"/content/instagram_usage_lifestyle.csv")
df.head()

,user_id,app_name,age,gender,country,urban_rural,income_level,employment_status,education_level,relationship_status,...,last_login_date,average_session_length_minutes,content_type_preference,preferred_content_theme,privacy_setting_level,two_factor_auth_enabled,biometric_login_used,linked_accounts_count,subscription_status,user_engagement_score
0,1,Instagram,51,Female,India,Rural,High,Retired,Bachelor‚Äôs,Single,...,2025-11-02,5.0,Mixed,Tech,Private,Yes,No,0.0,Free,7.83
1,2,Instagram,64,Female,United Kingdom,Urban,Middle,Full-time employed,Other,Divorced,...,2025-03-22,14.8,Photos,Fashion,Public,No,No,3.0,Free,1.43
2,3,Instagram,41,Female,Canada,Urban,Middle,Student,Bachelor‚Äôs,In a relationship,...,2025-08-10,5.0,Mixed,Other,Public,Yes,Yes,1.0,Free,9.67
3,4,Instagram,27,Non-binary,South Korea,Urban,Middle,Unemployed,Master‚Äôs,In a relationship,...,2025-03-31,25.9,Stories,Tech,Private,No,No,1.0,Free,0.94
4,5,Instagram,55,Male,India,Urban,Upper-middle,Full-time employed,Bachelor‚Äôs,Single,...,2025-03-19,13.1,Videos,Food,Public,Yes,No,0.0,Free,1.03

# **Z√°kladn√© √∫daje o Datasete**üìä

In [ ]:
df.shape # koƒæko ma dataset riadkov
df.columns # struƒçny prehƒæad stlpcov v datasete
df.isna().value_counts().sum()  # zist√≠me koƒæko m√° dataset pr√°zdnych hodn√¥t (V pr√≠pade potreby vieme doplni≈• alebo odstrani≈• - df.fillna(0), df.dropna())
df.describe()
df.info()  # ≈°pecifick√© inform√°cie ako d√°tove typy, (float, string, int, bool)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18580 entries, 0 to 18579
Data columns (total 58 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   user_id                         18580 non-null  int64
 1   app_name                        18580 non-null  object
 2   age                             18580 non-null  int64
 3   gender                          18580 non-null  object
 4   country                         18580 non-null  object
 5   urban_rural                     18580 non-null  object
 6   income_level                    18580 non-null  object
 7   employment_status               18580 non-null  object
 8   education_level                 18580 non-null  object
 9   relationship_status             18580 non-null  object
 10  has_children                    18580 non-null  object
 11  exercise_hours_per_week         18580 non-null  float64
 12  sleep_hours_per_night           18580 non-null  float64
 13  diet_quality                    18579 non-null  object
 14  smoking                         18579 non-null  object
 15  alcohol_frequency               18579 non-null  object
 16  perceived_stress_score          18579 non-null  float64
 17  self_reported_happiness         18579 non-null  float64
 18  body_mass_index                 18579 non-null  float64
 19  blood_pressure_systolic         18579 non-null  float64
 20  blood_pressure_diastolic        18579 non-null  float64
 21  daily_steps_count               18579 non-null  float64
 22  weekly_work_hours               18579 non-null  float64
 23  hobbies_count                   18579 non-null  float64
 24  social_events_per_month         18579 non-null  float64
 25  books_read_per_year             18579 non-null  float64
 26  volunteer_hours_per_month       18579 non-null  float64
 27  travel_frequency_per_year       18579 non-null  float64
 28  daily_active_minutes_instagram  18579 non-null  float64
 29  sessions_per_day                18579 non-null  float64
 30  posts_created_per_week          18579 non-null  float64
 31  reels_watched_per_day           18579 non-null  float64
 32  stories_viewed_per_day          18579 non-null  float64
 33  likes_given_per_day             18579 non-null  float64
 34  comments_written_per_day        18579 non-null  float64
 35  dms_sent_per_week               18579 non-null  float64
 36  dms_received_per_week           18579 non-null  float64
 37  ads_viewed_per_day              18579 non-null  float64
 38  ads_clicked_per_day             18579 non-null  float64
 39  time_on_feed_per_day            18579 non-null  float64
 40  time_on_explore_per_day         18579 non-null  float64
 41  time_on_messages_per_day        18579 non-null  float64
 42  time_on_reels_per_day           18579 non-null  float64
 43  followers_count                 18579 non-null  float64
 44  following_count                 18579 non-null  float64
 45  uses_premium_features           18579 non-null  object
 46  notification_response_rate      18579 non-null  float64
 47  account_creation_year           18579 non-null  float64
 48  last_login_date                 18579 non-null  object
 49  average_session_length_minutes  18579 non-null  float64
 50  content_type_preference         18579 non-null  object
 51  preferred_content_theme         18579 non-null  object
 52  privacy_setting_level           18579 non-null  object
 53  two_factor_auth_enabled         18579 non-null  object
 54  biometric_login_used            18579 non-null  object
 55  linked_accounts_count           18579 non-null  float64
 56  subscription_status             18579 non-null  object
 57  user_engagement_score           18579 non-null  float64
dtypes: float64(36), int64(2), object(20)
memory usage: 8.2+ MB

# **√öprava Datasetu**üß™

In [ ]:
# V √∫prave si premenujeme cel√Ω Dataset do slovensk√©ho jazyka (pre lep≈°iu orientaciu)
# Taktie≈æ si premenujeme aj vn√∫torne bunky ka≈æd√©ho stplca

In [ ]:
# Prep√≠sanie stlpcov z ANJ do SJ
df = df.rename(columns={
    "user_id": "id_pouzivatela",
    "app_name": "nazov_aplikacie",
    "age": "vek",
    "gender": "pohlavie",
    "country": "krajina",
    "urban_rural": "mesto_vidiek",
    "income_level": "uroven_prijmu",
    "employment_status": "pracovny_status",
    "education_level": "vzdelanie",
    "relationship_status": "partnersky_status",
    "has_children": "ma_deti",
    "exercise_hours_per_week": "hodiny_cvicenia_za_tyden",
    "sleep_hours_per_night": "hodiny_spanku_za_noc",
    "diet_quality": "kvalita_stravy",
    "smoking": "fajcenie",
    "alcohol_frequency": "frekvencia_alkoholu",
    "perceived_stress_score": "vnimany_stres",
    "self_reported_happiness": "subjektivne_stastie",
    "body_mass_index": "BMI",
    "blood_pressure_systolic": "krvny_tlak_systolicky",
    "blood_pressure_diastolic": "krvny_tlak_diastolicky",
    "daily_steps_count": "kroky_za_den",
    "weekly_work_hours": "pracovne_hodiny_za_tyden",
    "hobbies_count": "pocet_zalub",
    "social_events_per_month": "spolocenske_akcie_za_mesiac",
    "books_read_per_year": "knihy_precitane_za_rok",
    "volunteer_hours_per_month": "dobrovolnictvo_hodiny_za_mesiac",
    "travel_frequency_per_year": "cestovanie_za_rok",
    "daily_active_minutes_instagram": "aktivne_minuty_na_instagrame_za_den",
    "sessions_per_day": "pocet_relacii_za_den",
    "posts_created_per_week": "prispevky_za_tyden",
    "reels_watched_per_day": "reels_pozrete_za_den",
    "stories_viewed_per_day": "stories_pozrete_za_den",
    "likes_given_per_day": "lajky_za_den",
    "comments_written_per_day": "komentare_za_den",
    "dms_sent_per_week": "spravy_odoslane_za_tyden",
    "dms_received_per_week": "spravy_prijate_za_tyden",
    "ads_viewed_per_day": "reklamy_zobrazene_za_den",
    "ads_clicked_per_day": "reklamy_kliknute_za_den",
    "time_on_feed_per_day": "cas_na_feede_za_den",
    "time_on_explore_per_day": "cas_na_explore_za_den",
    "time_on_messages_per_day": "cas_na_spravach_za_den",
    "time_on_reels_per_day": "cas_na_reels_za_den",
    "followers_count": "pocet_followers",
    "following_count": "pocet_following",
    "uses_premium_features": "pouziva_premium",
    "notification_response_rate": "reakcia_na_notifikacie",
    "account_creation_year": "rok_vytvorenia_uctu",
    "last_login_date": "posledne_prihlasenie",
    "average_session_length_minutes": "priemerna_dlzka_relacie_min",
    "content_type_preference": "preferovany_typ_obsahu",
    "preferred_content_theme": "preferovana_tema_obsahu",
    "privacy_setting_level": "uroven_sukromia",
    "two_factor_auth_enabled": "dvojfaktorove_overenie",
    "biometric_login_used": "biometricke_prihlasenie",
    "linked_accounts_count": "pocet_prepojenych_uctov",
    "subscription_status": "stav_predplatneho",
    "user_engagement_score": "skore_angazovanosti"
})

In [ ]:
df["pohlavie"].unique()  # uk√°≈æe n√°m unik√°tne n√°zvy v kategori√≠ pohlavie - aby sme mohli zmeni≈• n√°zvy do SJ

array(['Female', 'Non-binary', 'Male', 'Prefer not to say'], dtype=object)

In [ ]:
#zmena vn√∫tornej bunky z anglick√Ωch n√°zvov na slovensk√©
df["pohlavie"].replace({
    "Male" : "Mu≈æ",
    "Female":"≈Ωena",
    "Non-binary":"Nebin√°rny",
    "Prefer not to say":"Preferuje_nepoveda≈•"
}, inplace=True)

/tmp/ipython-input-3957190003.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["pohlavie"].replace({

In [ ]:
# √öprava vn√∫tornej bunky do Slovenƒçiny
df["krajina"].replace({
    "Brazil":"Braz√≠lia",
    "Canada":"Kanada",
    "Germany":"Nemecko",
    "Japan":"Japonsko",
    "Other":"In√©",
    "South Korea":"Ju≈æn√° Koreja",
    "Spain":"≈†panielsko",
    "United States":"Spojen√© st√°ty americk√©",
    "United Kingdom":"Spojen√© kr√°lovstvo"

}, inplace=True)

/tmp/ipython-input-1095880424.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["krajina"].replace({

In [ ]:
df["mesto_vidiek"].replace({
    "Urban":"Mesot",
    "Rural":"Vidiek",
    "Suburban":"Predmestie"
}, inplace=True)

/tmp/ipython-input-1564574229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["mesto_vidiek"].replace({

In [ ]:
df["uroven_prijmu"].replace({
    "Low":"N√≠zky",
    "Medium":"Stredn√Ω",
    "High":"Vysok√Ω"
}, inplace=True)

/tmp/ipython-input-2381710476.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["uroven_prijmu"].replace({

In [ ]:
df["pracovny_status"].replace({
    "Employed":"Zamestnanec",
    "Self-employed":"≈Ωivnostn√≠k",
    "Unemployed":"Nezamestnanec",
    "Student":"Student",
    "Retired":" D√¥chodca",
    "Freelancer":"Freelancer",
    "Full-time employed":"Full-time",
    "Part-time":"Part-time"
}, inplace=True)

/tmp/ipython-input-867943899.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["pracovny_status"].replace({

In [ ]:
df["vzdelanie"].replace({
    "Bachelor‚Äôs":"Bakal√°r",
    "Other":"In√©",
    "Master‚Äôs":"Magister",
    "High school":"Stredn√° ≈°kola",
    "Some college":"Nezaraden√° ≈°kola",
    "PhD": "Doktor√°t"
 },inplace=True)

/tmp/ipython-input-4174906071.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["vzdelanie"].replace({

In [ ]:
df["partnersky_status"].replace({
    "Single":"Slobodn√Ω",
    "Divorced":"Rozveden√Ω",
    "In a relationship":"Zadan√Ω",
    "Married":"≈Ωenat√Ω",
    "Widowed":"Vdovec"
}, inplace=True)

/tmp/ipython-input-3949590101.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["partnersky_status"].replace({

In [ ]:
df["preferovana_tema_obsahu"].replace({
    "Tech":"Technologie",
    "Fasion":"M√≥da",
    "Other":"In√©",
    "Food":"Jedlo",
    "Travel":"Cestovanie",
    "Art":"Umenie",
    "Music":"Muzika",
    "Fitness":"Fitnes",
}, inplace=True)

/tmp/ipython-input-3611187554.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["preferovana_tema_obsahu"].replace({

In [ ]:
df["uroven_sukromia"].replace({
    "Private":"S√∫kromn√©",
    "Public":"Verejn√©",
    "Friends only":"Len priatelia",

},inplace=True)

/tmp/ipython-input-3487933343.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["uroven_sukromia"].replace({

In [ ]:
df["dvojfaktorove_overenie"].replace({
    "Yes":"ANO",
    "No":"NIE"
    },inplace=True)

/tmp/ipython-input-860998636.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dvojfaktorove_overenie"].replace({

In [ ]:
df["biometricke_prihlasenie"].replace({
    "No","NIE",
    "Yes","ANO"
},inplace=True)

/tmp/ipython-input-347115792.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df["biometricke_prihlasenie"].replace({
/tmp/ipython-input-347115792.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["biometricke_prihlasenie"].replace({

In [ ]:
df["stav_predplatneho"].replace({
    "Free":"Zadarmo",
    "Premium":"Premium",

},inplace=True)

/tmp/ipython-input-818200589.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["stav_predplatneho"].replace({

In [ ]:
df.tail()

,id_pouzivatela,nazov_aplikacie,vek,pohlavie,krajina,mesto_vidiek,uroven_prijmu,pracovny_status,vzdelanie,partnersky_status,...,posledne_prihlasenie,priemerna_dlzka_relacie_min,preferovany_typ_obsahu,preferovana_tema_obsahu,uroven_sukromia,dvojfaktorove_overenie,biometricke_prihlasenie,pocet_prepojenych_uctov,stav_predplatneho,skore_angazovanosti
18575,18576,Instagram,37,Mu≈æ,Spojen√© st√°ty americk√©,Predmestie,Lower-middle,Student,In√©,Slobodn√Ω,...,2025-02-01,10.5,Reels,Technologie,Verejn√©,NIE,No,3.0,Premium,0.94
18576,18577,Instagram,44,Mu≈æ,Braz√≠lia,Mesot,Middle,Full-time,Bakal√°r,≈Ωenat√Ω,...,2025-12-17,30.9,Reels,Jedlo,Len priatelia,NIE,No,0.0,Business,1.01
18577,18578,Instagram,20,≈Ωena,Australia,Mesot,Middle,Full-time,Bakal√°r,≈Ωenat√Ω,...,2025-11-17,10.5,Photos,Technologie,Len priatelia,ANO,No,2.0,Zadarmo,1.11
18578,18579,Instagram,17,Mu≈æ,In√©,Predmestie,Low,Full-time,Stredn√° ≈°kola,Rozveden√Ω,...,2025-07-26,27.0,Stories,Umenie,Len priatelia,ANO,Yes,5.0,Zadarmo,1.11
18579,18580,Instagram,42,Mu≈æ,India,Mesot,High,Student,Nezaraden√° ≈°kola,Slobodn√Ω,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Vytvorenie a ulo≈æenie ƒçist√©ho Datasetu**üìä

In [ ]:
# Do numerick√Ωch stƒ∫pcov vlo≈æ√≠me pri hodnote NAN - hodnotu 0 - pomocou funkcie fillna()
# Do stringov√Ωch stƒ∫pcov nech√°me hodnotu NAN
# Na z√°ver ulo≈æ√≠me jeden ƒçisty dataset - pripraven√Ω na ƒèal≈°iu pr√°cu

In [ ]:
df[df.select_dtypes(include=["int64", "float64"]).columns] = \
    df[df.select_dtypes(include=["int64", "float64"]).columns].fillna(0)

In [ ]:
df.to_csv("clean_dataset.csv",index=False)

# Dataset (DF) - je ulo≈æen√Ω a pripraven√Ω na n√°sledn√© √∫lohy

# **Anal√Ωza spr√°vania pou≈æ√≠vateƒæov**üìä
V tejto ƒçasti sa budeme prim√°rne zamerava≈• na odpoveƒè na n√°sleduj√∫ce ot√°zky:

1. Koƒæko je mu≈æov, ≈æien a ostatn√Ωch pou≈æ√≠vateƒæov?

2. Ak√Ω je priemern√Ω vek mu≈æov a ≈æien?

3. V ktor√Ωch krajin√°ch ƒæudia tr√°via na Instagrame najviac ƒçasu za de≈à?

4. Tr√°via ƒæudia s vy≈°≈°√≠m pr√≠jmom viac alebo menej ƒçasu na Instagrame?

5. S√∫ ƒæudia z miest na Instagrame akt√≠vnej≈°√≠ ako ƒæudia z vidieka?

6. Ktor√© pracovn√© skupiny (≈°tudenti, zamestnan√≠, nezamestnan√≠) s√∫ na Instagrame najakt√≠vnej≈°ie?

In [ ]:
# Importovanie vyƒçisten√©ho datasetu
import pandas as pd
import numpy as np
df1=pd.read_csv(r"/content/clean_dataset.csv")
df1.head()

,id_pouzivatela,nazov_aplikacie,vek,pohlavie,krajina,mesto_vidiek,uroven_prijmu,pracovny_status,vzdelanie,partnersky_status,...,posledne_prihlasenie,priemerna_dlzka_relacie_min,preferovany_typ_obsahu,preferovana_tema_obsahu,uroven_sukromia,dvojfaktorove_overenie,biometricke_prihlasenie,pocet_prepojenych_uctov,stav_predplatneho,skore_angazovanosti
0,1,Instagram,51,≈Ωena,India,Vidiek,Vysok√Ω,D√¥chodca,Bakal√°r,Slobodn√Ω,...,2025-11-02,5.0,Mixed,Technologie,S√∫kromn√©,ANO,No,0.0,Zadarmo,7.83
1,2,Instagram,64,≈Ωena,Spojen√© kr√°lovstvo,Mesot,Middle,Full-time,In√©,Rozveden√Ω,...,2025-03-22,14.8,Photos,Fashion,Verejn√©,NIE,No,3.0,Zadarmo,1.43
2,3,Instagram,41,≈Ωena,Kanada,Mesot,Middle,Student,Bakal√°r,Zadan√Ω,...,2025-08-10,5.0,Mixed,In√©,Verejn√©,ANO,Yes,1.0,Zadarmo,9.67
3,4,Instagram,27,Nebin√°rny,Ju≈æn√° Koreja,Mesot,Middle,Nezamestnanec,Magister,Zadan√Ω,...,2025-03-31,25.9,Stories,Technologie,S√∫kromn√©,NIE,No,1.0,Zadarmo,0.94
4,5,Instagram,55,Mu≈æ,India,Mesot,Upper-middle,Full-time,Bakal√°r,Slobodn√Ω,...,2025-03-19,13.1,Videos,Jedlo,Verejn√©,ANO,No,0.0,Zadarmo,1.03

## **Ot√°zka ƒç. 1 - Koƒæko je mu≈æov, ≈æien a ostatn√Ωch pou≈æ√≠vateƒæov?**

In [ ]:
df1["pohlavie"].value_counts()
# pre t√∫to ot√°zku pou≈æijeme jednoduch√∫ funkciu value_counts()

pohlavie
Mu≈æ                    29409
≈Ωena                   29157
Nebin√°rny               1819
Preferuje_nepoveda≈•      608
Name: count, dtype: int64

V datasete je pribli≈æne rovnak√Ω poƒçet mu≈æov a ≈æien.
Men≈°iu ƒças≈• tvoria nebin√°rni pou≈æ√≠vatelia a pou≈æ√≠vatelia,
ktor√≠ sa rozhodli neuvies≈• svoje pohlavie.

# **Ot√°zka ƒç.2 - Ak√Ω je priemern√Ω vek mu≈æov a ≈æien?**

In [ ]:
df1.groupby("pohlavie")["vek"].mean()

pohlavie
Mu≈æ                    39.024100
Nebin√°rny              38.075972
Preferuje_nepoveda≈•    38.010811
≈Ωena                   38.927139
Name: vek, dtype: float64

Priemern√Ω vek mu≈æov je pribli≈æne 39.0 roka a priemern√Ω vek ≈æien
pribli≈æne 38.9 roka. Rozdiel medzi mu≈æmi a ≈æenami je minim√°lny,
ƒço naznaƒçuje podobn√© vekov√© rozlo≈æenie t√Ωchto skup√≠n v datasete.

# **Ot√°zka ƒç.3 - V ktor√Ωch krajin√°ch ƒæudia tr√°via na Instagrame najviac ƒçasu za de≈à?**

In [ ]:
df1.groupby("krajina")["priemerna_dlzka_relacie_min"].mean().sort_values(ascending=False)

krajina
In√©                       20.781389
Braz√≠lia                  20.635791
Australia                 20.627112
India                     20.541689
Spojen√© st√°ty americk√©    20.416094
Ju≈æn√° Koreja              20.374341
Kanada                    20.348265
Nemecko                   20.338924
Spojen√© kr√°lovstvo        20.269857
Japonsko                  20.245379
Name: priemerna_dlzka_relacie_min, dtype: float64

V√Ωsledky ukazuj√∫, ≈æe najvy≈°≈°√≠ priemern√Ω ƒças str√°ven√Ω na Instagrame
m√° skupina oznaƒçen√° ako ‚ÄûIn√©‚Äú, ktor√° v≈°ak zah≈ï≈àa viacero r√¥znych kraj√≠n
a preto nie je mo≈æn√© ju interpretova≈• ako jednu konkr√©tnu krajinu.

Spomedzi konkr√©tnych kraj√≠n maj√∫ najvy≈°≈°√≠ priemern√Ω ƒças pou≈æ√≠vatelia
z Braz√≠lie, Austr√°lie a Indie. Rozdiely medzi jednotliv√Ωmi krajinami
s√∫ v≈°ak relat√≠vne mal√©, ƒço naznaƒçuje, ≈æe krajina m√° len obmedzen√Ω
vplyv na ƒças str√°ven√Ω na platforme.

# **Ot√°zka ƒç.4 - Tr√°via ƒæudia s vy≈°≈°√≠m pr√≠jmom viac alebo menej ƒçasu na Instagrame?**

In [ ]:
df1.groupby("uroven_prijmu")["priemerna_dlzka_relacie_min"].mean().sort_values(ascending=False)

uroven_prijmu
Upper-middle    20.801495
High            20.616946
Low             20.437862
Middle          20.416346
Lower-middle    20.364593
Name: priemerna_dlzka_relacie_min, dtype: float64

V√Ωsledky neukazuj√∫ v√Ωrazn√Ω rozdiel v priemernom ƒçase str√°venom na Instagrame
medzi jednotliv√Ωmi pr√≠jmov√Ωmi skupinami. Hoci skupiny s vy≈°≈°√≠m a upper-middle
pr√≠jmom maj√∫ mierne vy≈°≈°√≠ priemer, rozdiely s√∫ minim√°lne a neindukuj√∫
siln√∫ z√°vislos≈• medzi pr√≠jmom a ƒçasom str√°ven√Ωm na platforme.

# **Ot√°zka ƒç.5 - S√∫ ƒæudia z miest na Instagrame akt√≠vnej≈°√≠ ako ƒæudia z vidieka?**

In [ ]:
df1.groupby("mesto_vidiek")["skore_angazovanosti"].mean()

mesto_vidiek
Mesot         1.653844
Predmestie    1.637072
Vidiek        1.612092
Name: skore_angazovanosti, dtype: float64

V√Ωsledky ukazuj√∫, ≈æe pou≈æ√≠vatelia z miest maj√∫ v priemere mierne vy≈°≈°ie sk√≥re anga≈æovanosti
ako pou≈æ√≠vatelia z vidieka. Rozdiely v≈°ak nie s√∫ v√Ωrazn√©, ƒço naznaƒçuje, ≈æe typ prostredia
m√° len obmedzen√Ω vplyv na anga≈æovanos≈• na Instagrame.

# **Ot√°zka ƒç.6 - Ktor√© pracovn√© skupiny (≈°tudenti, zamestnan√≠, nezamestnan√≠) s√∫ na Instagrame najakt√≠vnej≈°ie?**

In [ ]:
df1.groupby("pracovny_status")["skore_angazovanosti"].mean()

pracovny_status
 D√¥chodca        1.622101
Freelancer       1.621880
Full-time        1.657623
Nezamestnanec    1.607561
Part-time        1.626477
Student          1.648021
Name: skore_angazovanosti, dtype: float64

Najvy≈°≈°ie priemern√© sk√≥re anga≈æovanosti maj√∫ pou≈æ√≠vatelia
pracuj√∫ci na pln√Ω √∫v√§zok a ≈°tudenti. Rozdiely medzi jednotliv√Ωmi
pracovn√Ωmi skupinami s√∫ v≈°ak relat√≠vne mal√©, ƒço naznaƒçuje,
≈æe pracovn√Ω status m√° len obmedzen√Ω vplyv na anga≈æovanos≈•
na Instagrame.

# **Z√°ver**üìä

V tomto projekte boli d√°ta najprv extrahovan√© a vyƒçisten√© pomocou Pythonu
a kni≈ænice Pandas v prostred√≠ Google Colab. Na vyƒçistenom datasete bola
vykonan√° z√°kladn√° explorat√≠vna anal√Ωza (EDA) a odpovede na analytick√© ot√°zky.

Vyƒçisten√Ω dataset bol n√°sledne ulo≈æen√Ω do CSV s√∫boru a importovan√Ω
do datab√°zy PostgreSQL. ƒéal≈°ie analytick√© ot√°zky a doplnkov√© anal√Ωzy
boli realizovan√© pomocou SQL v n√°stroji pgAdmin.

SQL dotazy pou≈æit√© v projekte s√∫ dostupn√© v samostatn√Ωch `.sql` s√∫boroch
v tomto repozit√°ri na GitHube.